.alert {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 16px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alertSuccess {
  background-color: rgb(0, 221, 0);
}

.alertWarning {
  background-color: rgb(244, 244, 72);
}

.alertError {
  background-color: red;
}

.alertMessage {
  display: inline;
  margin-right: 20px;
}

.alertIcon {
  width: 20px;
  height: 20px;
}
