.alert {
  border-radius: 16px;
  padding: 12px 20px;
  width: fit-content;
}

.alertSuccess {
  background-color: rgb(0, 221, 0);
}

.alertWarning {
  background-color: rgb(244, 244, 72);
}

.alertError {
  background-color: red;
}

.alertMessage {
  margin-right: 12px;
  line-height: 20px;
}

.alertIcon {
  width: 20px;
  height: 20px;
}