.header {
  background-color: white;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoLink {
  text-decoration: none;
}

.logoImage {
  height: 40px;
}

.searchForm {
  display: flex;
  border-style: solid;
  border-color: rgb(240, 240, 240);
  border-radius: 8px;
  min-width: fit-content;
  width: 50%;
  max-width: 500px;
  margin: 0px 40px;
}

.searchInput {
  padding: 8px;
  outline: none;
  border: none;
  flex-grow: 1;
}

.searchSubmit {
  font-weight: bold;
  font-size: 14px;
  padding: 8px 16px;
  border: none;
  color: blue;
  cursor: pointer;
}

.shortcutList {}

.shortcutItem {
  margin: 0px 4px;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 8px;
}

.shortcutItem:hover {
  background-color: rgb(240, 240, 240);
}