.content {}

.product {
  display: inline-block;
  width: 22%;
  text-decoration: none;
  margin: 0px 2% 16px;
  color: black;
  background-color: white;
  padding: 12px;
  border-radius: 8px;
}

.product:nth-child(4n + 1) {
  margin-left: 0px;
}

.product:nth-child(4n) {
  margin-right: 0px;
}


.productImage {
  width: 100%;
  aspect-ratio: 1;
}

.productName {
  text-align: center;
  margin: 8px 0px;
}

.productPrice {
  text-align: center;
}