.layout {
  background-color: rgb(240, 240, 240);
  min-width: fit-content;
}

.header {
  background-color: white;
  height: 60px;
  position: sticky;
  top: 0px;
}

.container {
  display: flex;
  padding: 20px;
}

.sidebar {
  width: fit-content;
  min-width: 200px;
  margin-right: 20px;
  border-radius: 8px;
  height: 100%;
  position: sticky;
  top: 80px;
}

.content {
  flex-grow: 1;
  border-radius: 8px;
}
